/* Define font */
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-style: normal;
  color: #FFFFFF;
  background: #FFFFFF;
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
}

.body-continer {
  background: linear-gradient(180deg, #4A6CDA 0%, #54A7D9 100%);
  min-height: 100vh;
  overflow-x: hidden;
}
.body-continer .container {
  position: relative;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  position: relative;
  z-index: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Chewy", system-ui;
  letter-spacing: 2px;
  font-weight: 400;
  position: relative;
  z-index: 2;
}

img {
  max-width: 100%;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  position: relative;
  z-index: 1;
}

.header-section {
  padding-top: 20px;
  transition: 0.3s;
}
.header-section .header-inner {
  background: #101033;
  border-radius: 60px;
  padding: 10px 20px;
  transition: 0.5s;
}
.header-section.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
.header-section.sticky .header-inner {
  background: rgba(16, 16, 51, 0.9);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.header-section.sticky .header-inner .logo {
  max-width: 60px;
  animation: haderLogoAnimetion 0.4s;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.header-inner .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  animation: haderLogoAnimetionRevarse 0.4s;
}
.header-inner ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 35px;
  padding-right: 30px;
}
.header-inner ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
  gap: 5px;
}
.header-inner ul li a:hover {
  color: #FFFFFF;
}

@keyframes haderLogoAnimetion {
  0% {
    max-width: 100px;
  }
  100% {
    max-width: 60px;
  }
}
@keyframes haderLogoAnimetionRevarse {
  0% {
    max-width: 60px;
  }
  100% {
    max-width: 100px;
  }
}
.banner-section {
  padding: 120px 0px;
  position: relative;
  z-index: 1;
}
.banner-section .cloud-1 {
  position: absolute;
  left: -20px;
  width: 15%;
  top: 50px;
}

.banner-left {
  max-width: 100%;
  padding-top: 40px;
}
.banner-left h3 {
  font-size: 52px;
  line-height: 140%;
}
.banner-left h3.mb-30 {
  margin-bottom: 30px;
}
.banner-left p {
  font-size: 28px;
  line-height: 130%;
}
.banner-left p.banner-note {
  position: relative;
  padding-left: 40px;
}
.banner-left p.banner-note span {
  position: absolute;
  left: 0px;
  top: 0px;
}

.banner-img {
  max-width: 530px;
  width: 100%;
  margin-left: auto;
  position: relative;
}
.banner-img .cloud {
  position: absolute;
  top: 15%;
  right: -20%;
  width: 35% !important;
}
.banner-img img {
  width: 100%;
}

.title-shadow {
  color: #FDCB1B;
  text-shadow: 2px 3px 0px #111;
}

.section-title {
  font-weight: bolder;
  font-size: 40px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.join-bib-section {
  padding: 60px 0px 120px 0px;
  margin-bottom: 120px;
  position: relative;
}
.join-bib-section .rocket-img {
  position: absolute;
  top: -50%;
  left: -20%;
  width: 42%;
}
.join-bib-section .shape {
  position: absolute;
  bottom: 80%;
  right: 0;
  z-index: 0;
  opacity: 0.4;
  width: 40%;
}

.bib-social {
  max-width: 800px;
  width: 100%;
  margin: auto;
  position: relative;
  z-index: 1;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.1);
  padding: 25px 50px;
  margin-top: 45px;
}
.bib-social ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bib-social ul li {
  width: 17%;
}
.bib-social ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bib-social ul li img {
  width: 100%;
}

.coming-soon-section {
  padding-bottom: 80px;
}

.coming-soon-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.coming-soon-content img {
  width: 20%;
}
.coming-soon-content h2 {
  font-size: 100px;
  font-weight: bolder;
  line-height: 150%;
}

.crypto-cuties-section {
  padding-bottom: 60px;
  position: relative;
  padding-top: 60px;
}
.crypto-cuties-section .container {
  z-index: 1;
}
.crypto-cuties-section .shape {
  position: absolute;
  right: 25%;
  width: 25%;
  bottom: 10px;
  opacity: 0.8;
  z-index: 0;
}
.crypto-cuties-section .cloud1 {
  position: absolute;
  top: 0px;
  left: 20px;
  width: 10%;
  opacity: 95%;
  z-index: 0;
}
.crypto-cuties-section .cloud2 {
  position: absolute;
  top: 86%;
  right: 0px;
  width: 20%;
  opacity: 95%;
  z-index: 0;
}
.crypto-cuties-section .crypto-cuties-left {
  margin-top: 30px;
  max-width: 560px;
  margin-right: auto;
}
.crypto-cuties-section .crypto-cuties-left img {
  width: 100%;
}
.crypto-cuties-section .crypto-cuties-right {
  margin-top: 30px;
}
.crypto-cuties-section .crypto-cuties-right p {
  font-size: 28px;
  line-height: 150%;
  max-width: 515px;
}
.crypto-cuties-section .crypto-cuties-right p.cuties-warning {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}
.crypto-cuties-section .crypto-cuties-right ul {
  margin-top: 30px;
  padding-left: 20px;
}
.crypto-cuties-section .crypto-cuties-right ul li {
  font-size: 28px;
  line-height: 170%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.crypto-cuties-section .crypto-cuties-right ul li .icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 35px;
}

.bib-walk-section {
  padding-bottom: 130px;
  padding-top: 90px;
  position: relative;
  z-index: 1;
}
.bib-walk-section .cloud3 {
  position: absolute;
  top: -13%;
  left: 0;
  width: 23%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}
.bib-walk-section .cloud4 {
  position: absolute;
  bottom: -12%;
  left: 0px;
  width: 100%;
  z-index: 1;
}
.bib-walk-section .shape {
  position: absolute;
  bottom: 10%;
  left: 20%;
  width: 25%;
  opacity: 0.8;
}

.bib-walk-text {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/talk-shape.png);
  background-position: bottom right;
  height: 70%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 15%;
  padding: 40px;
  text-align: center;
}
.bib-walk-text p {
  max-width: 345px;
  width: 100%;
  font-size: 32px;
  line-height: 130%;
  font-family: "Chewy", system-ui;
}

.bib-walk-img {
  position: relative;
  z-index: 0;
}
.bib-walk-img img {
  width: 100%;
}

.bib-footer {
  position: relative;
  z-index: 0;
}
.bib-footer .footer-ship {
  position: absolute;
  width: 43%;
  right: -4%;
  bottom: 0;
  z-index: 0;
}

.driving-img {
  width: 100%;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 100px;
}
.footer-content .footer-bib-img {
  width: 30%;
}

.footer-social {
  width: 70%;
  padding: 0px 70px;
}
.footer-social .footer-social-title {
  background: url(../images/footer-title-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
  max-width: 485px;
  min-height: 100px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transform: translateX(-50px);
}
.footer-social .bib-social {
  margin-left: 0;
  margin-right: auto;
  margin-top: 0px;
}

.profile-body-container {
  overflow-x: hidden;
}

.bib-profile-banner {
  padding-top: 30px;
  padding-bottom: 57px;
  text-align: center;
}

.profile-logo {
  margin: auto;
  max-width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-banner-img {
  margin: auto;
}

.profile-banner-video {
  position: relative;
}
.profile-banner-video .shape-1 {
  position: absolute;
  z-index: 1;
  top: -50px;
  left: 0;
  height: 70px;
  width: 100%;
  background: linear-gradient(163deg, rgba(76, 137, 217, 0.1) 12.01%, rgba(217, 217, 217, 0) 87.99%);
  -webkit-backdrop-filter: blur(36px);
          backdrop-filter: blur(36px);
}
.profile-banner-video .shape-2 {
  position: absolute;
  z-index: 1;
  top: 0;
  left: -60px;
  height: 100%;
  width: 90px;
  background: linear-gradient(90deg, rgba(76, 137, 217, 0.1) 0.32%, rgba(217, 217, 217, 0) 99.68%);
  -webkit-backdrop-filter: blur(36px);
          backdrop-filter: blur(36px);
}
.profile-banner-video .shape-3 {
  position: absolute;
  z-index: 1;
  bottom: -40px;
  left: 0;
  height: 60px;
  width: 100%;
  background: linear-gradient(163deg, rgba(76, 137, 217, 0.1) 12.01%, rgba(217, 217, 217, 0) 87.99%);
  -webkit-backdrop-filter: blur(36px);
          backdrop-filter: blur(36px);
}
.profile-banner-video .shape-4 {
  position: absolute;
  z-index: 1;
  top: 0;
  right: -60px;
  height: 100%;
  width: 90px;
  background: linear-gradient(90deg, rgba(217, 217, 217, 0) 0.32%, rgba(72, 104, 217, 0.1) 99.68%);
  -webkit-backdrop-filter: blur(36px);
          backdrop-filter: blur(36px);
}
.profile-banner-video video {
  width: 100%;
  position: relative;
  z-index: 0;
}

.profile-title {
  color: #FDCB1C;
  text-shadow: 2px 5px 0px #000;
  font-family: Chewy;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 112.5%;
}

.create-own-profile-pic {
  padding-bottom: 78px;
  position: relative;
}
.create-own-profile-pic .coin1 {
  width: 7%;
  position: absolute;
  top: 20px;
  left: 5%;
}
.create-own-profile-pic .coin2 {
  width: 7%;
  position: absolute;
  top: 35%;
  right: 5%;
}
.create-own-profile-pic .coin3 {
  width: 7%;
  position: absolute;
  bottom: 20%;
  left: -4%;
}
.create-own-profile-pic .section-title {
  margin-bottom: 50px;
}
.create-own-profile-pic .profile-title {
  max-width: 580px;
  width: 100%;
  margin: auto;
  margin-bottom: 36px;
}
.create-own-profile-pic-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.create-own-profile-pic-col {
  width: 27%;
}
.create-own-profile-pic-col img {
  width: 100%;
}
.create-own-profile-pic-col h3 {
  color: #FDCB1C;
  font-family: Chewy;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 150%;
  margin: 30px 0px 20px 0px;
  text-shadow: 1.5px 3px 0px #000;
}
.create-own-profile-pic-col p {
  max-width: 330px;
  color: #FFF;
  font-size: 28px;
  font-weight: 500;
  line-height: 130%;
}

.bib-partners-section {
  padding-bottom: 50px;
  position: relative;
}
.bib-partners-section .partners-bg-shape {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 46%;
  left: 0px;
}
.bib-partners-section .profile-cloud-1 {
  position: absolute;
  top: -50px;
  left: 0;
  width: 14%;
}
.bib-partners-section .profile-cloud-2 {
  position: absolute;
  top: -20px;
  left: 15%;
  width: 7%;
}
.bib-partners-section .profile-cloud-3 {
  position: absolute;
  top: -50px;
  right: 10%;
  width: 13%;
}
.bib-partners-section .profile-cloud-4 {
  position: absolute;
  top: 0px;
  right: 0%;
  width: 5%;
}
.bib-partners-section .profile-title {
  margin-top: -5%;
}

.bib-partners-logo {
  margin-top: 60px;
}
.bib-partners-logo ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0px -20px;
  flex-wrap: wrap;
}
.bib-partners-logo ul li {
  padding: 0px 20px;
  width: 25%;
}
.bib-partners-logo .partners-logo-card {
  border-radius: 20px;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  height: 113px;
  margin-bottom: 40px;
}

.bib-profile-footer {
  padding-bottom: 12px;
}

.bib-profile-footer-video {
  padding: 8%;
  position: relative;
}
.bib-profile-footer-video .footer-video-frame {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.bib-profile-footer-video video {
  height: 100%;
  width: 100%;
}

.jumpingDown {
  animation: jumpingDown 4.5s infinite;
}

.jumpingUp {
  animation: jumpingUp 5s infinite;
}

@keyframes jumpingDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes jumpingUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
.bib-team-section {
  padding: 50px 0px;
  position: relative;
}
.bib-team-section .coin-bib-img {
  position: absolute;
  top: -10%;
  right: -20%;
  width: 40%;
}
.bib-team-section .team-coin {
  position: absolute;
  top: 12%;
  left: -4%;
  width: 7%;
}

.team-img {
  position: relative;
  z-index: 1;
}
.team-img img {
  width: 100%;
}

.team-member-detail {
  padding: 48px 10px 5px 10px;
  border-radius: 0px 0px 30px 30px;
  background: rgba(0, 0, 0, 0.1);
  max-width: 90%;
  margin: auto;
  position: relative;
  z-index: 0;
  margin-top: -35px;
  position: relative;
}
.team-member-detail .name {
  color: #FDCB1C;
  text-align: center;
  text-shadow: 2px 5px 0px #000;
  font-family: Chewy;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 0px;
  position: relative;
  z-index: 1;
}
.team-member-detail .designation {
  color: #FFF;
  text-align: center;
  font-family: Chewy;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 15px;
  position: relative;
  z-index: 1;
}
.team-member-detail .about-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 0px 0px 30px 30px;
  background: rgba(0, 0, 0, 0.2);
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  padding: 10px;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: 0;
  transition: 0.3s;
}

.team-member-card {
  padding: 0px 14px;
  margin-bottom: 80px;
  transition: 0.3s;
  cursor: pointer;
}
.team-member-card:hover .team-member-detail {
  border-radius: 0px;
  transition: 0.3s;
}
.team-member-card:hover .team-member-detail .about-btn {
  bottom: -50px;
  overflow: visible;
  opacity: 1;
  z-index: 1;
  height: auto;
}

.team-popup .fade {
  background: rgba(21, 36, 89, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.team-popup .modal-dialog {
  max-width: 570px;
  margin: auto;
  margin-top: 50px;
}
.team-popup .modal-content {
  border: none;
  background: transparent;
  max-width: 570px;
  margin: auto;
}
.team-popup .btn-close {
  margin-left: auto;
  opacity: 1;
  background: transparent;
  outline: none !important;
  box-shadow: none !important;
  position: absolute;
  top: 20px;
  right: 10px;
}

.team-modal-img {
  max-width: 347px;
  width: 100%;
  margin: auto;
  position: relative;
  z-index: 0;
}
.team-modal-img img {
  width: 100%;
}

.team-modal-detail {
  margin-top: -41px;
  position: relative;
  z-index: 1;
  border-radius: 30px;
  background: #FFF;
  padding: 20px;
  padding-bottom: 50px;
  text-align: center;
}
.team-modal-detail h4 {
  color: #FDCB1C;
  text-align: center;
  text-shadow: 2px 5px 0px #000;
  font-family: Chewy;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.team-modal-detail h6 {
  color: #111;
  text-align: center;
  font-family: Chewy;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 20px;
}
.team-modal-detail p {
  color: #111;
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 153.846%;
  max-width: 470px;
  width: 100%;
  margin: auto;
  text-shadow: none;
}

.team-modal-detail p {
  text-shadow: none;
}

@media only screen and (min-width: 1200px) {
  .custom-container {
    max-width: 1440px !important;
    margin: auto;
  }
}
@media only screen and (max-width: 1200px) {
  .profile-title {
    font-size: 60px;
  }
  .profile-banner-img {
    max-width: 85%;
  }
  .partners-img {
    max-width: 90%;
    margin: auto;
  }
  .create-own-profile-pic-content {
    margin: 0px -15px;
  }
  .create-own-profile-pic-col {
    padding: 0px 15px;
    width: 33.33%;
  }
  .create-own-profile-pic-col img {
    width: 95%;
  }
  .create-own-profile-pic-col h3 {
    font-size: 26px;
  }
  .create-own-profile-pic-col p {
    font-size: 16px;
    max-width: 280px;
  }
  .bib-partners-section {
    padding-bottom: 30px;
  }
  .bib-partners-logo {
    margin-top: 40px;
  }
  .bib-partners-logo ul {
    margin: 0px -15px;
  }
  .bib-partners-logo ul li {
    padding: 0px 15px;
  }
  .bib-partners-logo .partners-logo-card {
    padding: 10px 40px;
    height: 90px;
    margin-bottom: 30px;
  }
  .bib-team-section {
    padding: 30px 0px;
  }
  .team-member-card {
    padding: 0px;
  }
  .team-member-detail .name {
    font-size: 32px;
  }
  .team-member-detail .designation {
    font-size: 24px;
  }
}
@media only screen and (max-width: 992px) {
  .profile-title {
    font-size: 40px;
  }
  .create-own-profile-pic {
    padding-bottom: 40px;
  }
  .create-own-profile-pic .profile-title {
    max-width: 400px;
  }
  .create-own-profile-pic-col h3 {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .create-own-profile-pic-col p {
    font-size: 14px;
  }
  .bib-partners-logo .partners-logo-card {
    padding: 10px 20px;
    height: 80px;
  }
  .bib-partners-section {
    padding-bottom: 20px !important;
  }
  .create-own-profile-pic .section-title {
    margin-bottom: 30px;
  }
  .bib-team-section {
    padding-bottom: 0px;
  }
  .team-member-detail .name {
    font-size: 26px;
  }
  .team-member-detail .designation {
    font-size: 22px;
  }
}
@media only screen and (max-width: 767px) {
  .create-own-profile-pic-content {
    flex-wrap: wrap;
  }
  .create-own-profile-pic-col {
    width: 50%;
    margin-bottom: 40px;
  }
  .create-own-profile-pic-col h3 {
    font-size: 23px;
  }
  .create-own-profile-pic-col:nth-last-child(1) {
    margin-bottom: 0px;
  }
  .bib-partners-logo .partners-logo-card {
    height: 70px;
  }
  .bib-partners-section {
    padding-bottom: 10px !important;
  }
}
@media only screen and (max-width: 575px) {
  .create-own-profile-pic-col {
    text-align: center;
    width: 100%;
  }
  .create-own-profile-pic-col img {
    width: 70%;
    margin: auto;
  }
  .create-own-profile-pic-col h3 {
    margin-top: 15px;
    font-size: 28px;
  }
  .create-own-profile-pic-col p {
    margin: auto;
    font-size: 16px;
  }
  .bib-partners-section {
    padding-bottom: 0px !important;
  }
  .bib-partners-logo ul li {
    width: 50%;
  }
  .bib-partners-logo ul li .partners-logo-card {
    padding: 0px 20%;
  }
  .team-modal-detail p {
    font-size: 20px;
  }
  .bib-team-section .coin-bib-img {
    top: 2%;
  }
  .team-member-card {
    max-width: 360px;
    margin: auto;
    margin-bottom: 90px;
  }
}
.mobile-menu {
  display: none;
}
.mobile-menu .navbar-toggler {
  height: 32px;
  width: 32px;
}
.mobile-menu .btn-close {
  background-image: none;
  opacity: 1;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 11;
}
.mobile-menu .offcanvas {
  transition: transform 0.6s ease-in-out;
}

.mobile-menu-body {
  background: #FFFFFF;
  height: 100vh;
}
.mobile-menu-body .offcanvas-header .mobile-menu-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  max-width: 100px;
  margin: auto;
}
.mobile-menu-body .offcanvas-header .btn-close {
  background: none;
  margin-right: 10px;
  margin-bottom: 10px;
  opacity: 1;
}
.mobile-menu-body .navbar-nav {
  text-align: center;
  padding-right: 0px !important;
}

.mobile-menu-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.mobile-menu-list li {
  margin-bottom: 20px;
  text-align: left;
  min-width: -moz-max-content !important;
  min-width: max-content !important;
}
.mobile-menu-list li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #111111;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .mobile-menu {
    display: block;
  }
}