@media only screen and (min-width: 1360px) {
    .container {
        max-width: 1210px;
        width: 100%;
        padding: 0px 20px;
    }

    .section-title {
        font-size: 48px;
    }

    .join-bib-section {
        .section-title {
            font-size: 52px;
        }
    }

    .footer-social {
        width: 70%;
        padding: 0px 70px;

        .footer-social-title {
            max-width: 560px;
            min-height: 140px;

            h2 {
                font-size: 48px;
                margin-bottom: 25px;
            }
        }
    }

}

@media only screen and (max-width: 1600px) {
    .ship-section {
        .ship-text {
            max-width: 700px;
            padding-left: 100px;
            margin-right: 16%;
            transform: translateY(-24%);
        }
    }
}
@media only screen and (max-width: 1400px) {
    .banner-left {
        h3 {
            font-size: 50px;
        }
    }

    .header-inner {
        .logo {
            width: 60px;
        }
    }

    .join-bib-section {
        .rocket-img {
            max-width: 350px;
        }
    }

    .crypto-cuties-section{
        padding-bottom: 10px;
        padding-top: 10px;
        position: relative;
        .coin-bib-img{
            position: absolute;
            top: -10%;
            right: -10%;
            opacity: 0.5;
            width: 30%;
        }
    }

    .ship-section {
        .ship-text {
            margin-right: auto;
        }
    }

}

@media only screen and (max-width: 1200px) {
    .banner-section {
        padding: 80px 0px 40px 0px;
    }

    .banner-left {
        h3 {
            font-size: 40px;
        }
    }

    .join-bib-section {
        padding: 60px 0px;
        margin-bottom: 20px;
    }

    .coming-soon-section {
        padding-bottom: 50px;
    }

    .bib-walk-section {
        padding-bottom: 80px;
    }

    .coming-soon-content {
        h2 {
            font-size: 70px;
        }
    }

    .bib-social {
        max-width: 800px;

        ul {
            li {
                width: 20%;
            }
        }
    }

    .footer-content {
        bottom: 5%;
    }


    .bib-walk-text {
        padding-left: 5%;
        height: 60%;
        margin-top: 20%;

        p {
            max-width: 270px;
            width: 100%;
            font-size: 27px;
            line-height: 130%;
        }
    }


    .ship-section {
        .ship-text {
            max-width: 500px;
            margin: auto;
            min-height: 200px;
            padding-left: 50px;
            h3 {
                font-size: 32px;
                max-width: 300px;
            }
        }
    }


    .front-page-content {
        padding: 20% 2%;
        h2{
            font-size: 27px;
            margin-top: 2.5%;
            margin-bottom: 3%;
        }
        .ready-btn {
            button{
                max-width: 340px;
                font-size: 27px;
            }
        }
    }

}

@media only screen and (max-width: 992px) {
    .front-page {
        .logo2{
            height: 80px;
            width: 80px;
        }
    }


    .header-inner {
        .logo {
            width: 60px;
        }

        ul {
            gap: 25px;

            li {
                a {
                    font-size: 16px;
                }
            }
        }
    }

    .banner-left p {
        font-size: 24px;
    }

    .coming-soon-content h2 {
        font-size: 60px;
    }

    .crypto-cuties-section {
        .crypto-cuties-right {
            p {
                font-size: 24px;
            }

            ul {
                li {
                    font-size: 24px;

                    .icon {
                        width: 25px;
                        height: auto;
                    }
                }
            }
        }
    }

    .join-bib-section {
        .rocket-img {
            display: none;
        }
    }

    .coin-bib-img {
        display: none;
    }

    .section-title {
        font-size: 40px;
    }

    .bib-walk-text {
        p {
            font-size: 20px;
            max-width: 215px;
        }
    }

    .footer-social {
        .footer-social-title {
            max-width: 365px;
            min-height: 85px;

            .section-title {
                font-size: 28px;
            }
        }
    }

    .ship-section{
        padding-top: 25px;
        .ship-text {
            max-width: 450px;
            margin: auto;
            min-height: 190px;
            padding-left: 27px;
            transform: translateY(-10px);
        }
        .ship-bg-img{
            top: 0;
        }
    }

    .meme-section,
    .bib-ai-section{
        .meme-right,
        .bib-ai-left{
            ul{
                li{
                    font-size: 24px;
                }
            }
        }
    }
    
}

@media only screen and (max-width: 768px) {
    body {
        overflow: hidden;
    }
    .body-container {
        max-height: 100vh;
        overflow-y: scroll !important;
    }
    .front-page-content {
        padding: 25% 2% 30% 2%;
        h2{
            max-width: 331px;
        }
        .ready-btn {
            border-radius: 12px;
            max-width: 300px;
            &::after{
                border-radius: 12px;
            }
            button{
                font-size: 24px;
                padding: 11px 18px;
                border-radius: 12px;
            }
        }
    }
    .header-2 {
        .header-inner {
            padding: 4px 20px;

            .menu-list {
                display: none;
            }

            .logo {
                max-width: 60px;
            }
        }
    }
    .section-title{
        font-size: 34px;
    }
    .banner-section {
        padding: 60px 0px 0px 0px;
    }
    .banner-right{
        padding-bottom: 70px;
    }
    .banner-img {
        margin-bottom: 80px;
        .cloud{
            display: none;
        }
    }
    .join-bib-section {
        padding: 80px 0px;
        margin-bottom: 0px;
    }
    .coming-soon-section {
        padding-bottom: 30px;
    }
    .bib-walk-section {
        padding-bottom: 60px;
        padding-top: 20px;

        .cloud4 {
            bottom: -7%;
        }
    }
    .banner-left {
        text-align: center;
        padding-bottom: 40px;
        padding-top: 0px;
        max-width: 370px;
        margin: auto;

        h3 {
            font-size: 32px;
        }

        p {
            &.banner-note {
                span {
                    left: 20px;
                }
            }
        }
    }
    .banner-img {
        max-width: 400px;
        margin: auto;
    }
    .coming-soon-section {
        padding-bottom: 0px;
    }
    .coming-soon-content {
        text-align: center;
        justify-content: center;
        gap: 20px;

        h2 {
            font-size: 40px;
        }
    }
    .crypto-cuties-section {
        padding-top: 30px;

        .crypto-cuties-left {
            max-width: 400px;
            margin: auto;
            margin-bottom: 20px;
        }

        .crypto-cuties-right {
            text-align: center;
            max-width: 400px;
            margin: auto;

            ul {
                padding-left: 30px;
                max-width: 170px;
                margin: auto;
                margin-top: 20px;
                margin-bottom: 30px;

                li {
                    justify-content: flex-start;
                }
            }
        }
    }
    .bib-walk-section {

        .cloud4 {
            bottom: -5%;
        }
    }
    .bib-walk-img {
        max-width: 400px;
        margin: auto;
    }
    .bib-walk-text {
        padding: 40px 0px;

        p {
            text-align: center;
            margin: auto;
            margin-top: 30px;
        }
    }
    .footer-social {
        padding: 0px 30px;

        .bib-social {
            margin-top: -10px;

        }
    }
    .footer-social .footer-social-title {
        transform: translateX(0px);
        padding: 20px 25px;
    }
    .bib-walk-text {
        padding-left: 0;
        height: 80%;
        margin-top: 0;
        margin-bottom: 20%;
        max-width: 380px;

        p {
            margin-top: 0px;
            text-align: center;
            margin: auto;
            margin-top: 30px;
        }
    }
    .bib-social{
        margin-top: 20px;
        
        ul{
            gap: 10px;
        }
    }
    .ship-section {
        .ship-text {
            max-width: 340px;
            min-height: 139px;
            padding-left: 5%;
            margin-top: -12px;
            h3{
                font-size: 24px;
                max-width: 218px;
            }
        }
    }
    .meme-section,
    .bib-ai-section{
        .meme-left,
        .bib-ai-right{
            padding: 30px 0px;
            .banner-img{
                margin: auto;
            }
        }
        .meme-right,
        .bib-ai-left{
            ul{
                li{
                    justify-content: flex-start;
                }
            }
        }
    }
}

@media only screen and (max-width: 575px) {

    .front-page {
        .logo2{
            height: 70px;
            width: 70px;
        }
    }
    .front-page-content {
        padding: 25% 17% 30% 17%;
        h2{
            font-size: 20px;
            line-height: 125%;
        }
        .ready-btn {
            border-radius: 10px;
            max-width: 240px;
            &::after{
                border-radius: 10px;
            }
            button{
                padding: 7px 13px;
                font-size: 20px;
                border-radius: 10px;
            }
        }
    }

    .banner-left {
        h3 {
            font-size: 30px;
        }
    }

    .coming-soon-content {
        h2 {
            font-size: 28px;
        }
    }

    .join-bib-section {
        padding: 60px 0px;
    }

    .footer-social {
        padding: 0px 15px;

        h2 {
            padding-left: 0px;
            font-size: 21px;
            margin-bottom: 10px;
        }
    }

    .header-inner {
        gap: 20px;

        .logo {
            width: 70px;
        }

        ul {
            gap: 20px;

            li {
                a {
                    font-size: 16px;
                }
            }
        }
    }

    .bib-walk-section {
        .cloud4 {
            bottom: -3%;
        }
    }

    .footer-content {
        bottom: 50px;
    }

    .footer-social {
        .footer-social-title {
            max-width: 285px;
            min-height: 80px;
            padding: 10px 20px;

            h2 {
                transform: translateY(-4px);
            }
        }
    }

    .bib-social {
        padding: 20px 35px;
    }

    .ship-section {
        .ship-bg-img{
            top: 0;
        }
        .ship-text {
            max-width: 276px;
            min-height: 131px;
            padding-left: 20px;
            h3 {
                font-size: 18px;
                max-width: 180px;
            }
        }
    }

    .footer-social {
        .footer-social-title {
            .section-title{
                font-size: 22px;
            }
        }
    }



}

@media only screen and (max-width: 480px) {
    .footer-social {
        height: 90px;

        h2 {
            font-size: 16px;
        }
    }

    .bib-social {
        padding: 20px;
    }

    .ship-section {
        .ship-text{
            margin-left: 0;
        } 
        .ship-bg-img{
            top: 30px;
        }
    }
}

@media only screen and (max-width: 375px) {

    .banner-left {
        p {
            &.banner-note {
                span {
                    left: 10px;
                }
            }
        }
    }

    .coming-soon-content {
        h2 {
            font-size: 23px;
        }
    }

    .header-inner {
        ul {
            li {
                a {
                    span {
                        display: none;
                    }
                }
            }
        }
    }

    .crypto-cuties-section {
        .crypto-cuties-right {
            p {
                &.cuties-warning {
                    margin-left: -25px;

                    span {
                        transform: translateX(30px);
                    }
                }
            }
        }
    }
}